<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<appSettings>
		<!--Set your browser-->
		<add key="Browser" value="Firefox"/>
		<add key="ElementTimeout" value="30"/>
		<add key="StartUrl" value="https://yandex.by/"/>
		<add key="Login" value="katetest.selenium@yandex.com"/>
		<add key="Password" value="testSelenium002"/>
	</appSettings>
</configuration>